<!DOCTYPE html>
<!-- {% block html_attribs %} lang="en"{% endblock %} -->

<head>
{% block title %}
{% endblock %}   

{% block styles %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', _external=False) }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico', _external=False) }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/explorer.css', _external=False) }}"></link>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dropdown.css', _external=False) }}"></link>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search.css', _external=False) }}"></link>


<meta name="application-name" content="curiousphoto" />


{% endblock %}
</head>

<body>
 
{% block content %}
<!-- Put content here -->
{% endblock %}
 
{% block scripts %}
<!-- script src="https://unpkg.com/vue@next"></script -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/@googlemaps/js-api-loader/dist/index.min.js"></script>
{% endblock %}
</body>
</html>
