  .explorer {
    height: 100vh;
    width: 100vw;
  }
  
  .thumbnails {
    width: 100%;
    height: 10%;
  } 

 
  .thumbnails ul {
    height: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .thumbnails li{
    float: left;
  }
  
  .thumbnails li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 90%;
    width: 20%;
    margin: 0;

  }
  
  button.thumbnail {
      height: 100%;
      width: 100%;
  }

  .selected {
    border: 2px;
    border-color: red;
    border-style: dashed;
  }

  .thumbnail img{
    height: 100%;
  }
  .photo {
    height:100%;
    display: flex;
    position: relative;
  }

  .media {
    height: 80%;
    width: 80%;
    padding: 5px;
    background-color: gold;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .media .content{
    width:90%;
    height:90%;
    object-fit: contain;
    object-position: center center;

  }

.media .ol-button {
    background-color: rgba(0,0,0,0);
    color: #f1f1f1;
    width: 25%;
    height:100%;
    opacity:0.5;
    color: rgba(0,0,0,0);
    font-size: 100px;
    padding: 20px;
    transition: color 2s ease-in;
    transition-delay: 0.5s;
    border-width: 0px;

  }

  .media .ol-button:hover{
    color: rgb(129, 125, 125);
  }

  .media .left {
    position: absolute;
    left: 0;
    text-align: left;
  }
  .media .right {
    position: absolute;
    right: 0;
    text-align: right;
  }


  .meta-frame {
    width: 20%;
  }

  .gmap {
    width: 100%;
  }


  .map {
    height: 200px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .info{
    width: 100%;
  }
 
  .tree-item {
    cursor: pointer;
  }

  .date-tree {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
  }

  .display_flex {
    display: flex;
  }
  
  .flex_break {
    flex-basis: 100%;
    height: 0;
  }

