<head>
  <script src="https://unpkg.com/vue@next"></script>


</head>


<div id="hello-vue">
  Message: {{ message }}
</div>

<script>
  const app = {
    data() {
      return {
        message: 'Hello Vue!!'
      }
    }
  }
  
  Vue.createApp(app).mount('#hello-vue')
  
  </script>
 




