{% extends "layouts/layout.html" %}

{% block content %}  
{% raw %}

<div id="explorer">
  <explorer></explorer>
</div>
{% endraw %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='scripts/thumbnails.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='scripts/dropdown.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='scripts/date_tree.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='scripts/grid.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='scripts/search.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='scripts/info.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='scripts/gmap.js', _external=False) }}"></script>
<script src="{{ url_for('static', filename='scripts/explorer.js', _external=False) }}"></script>



{% endblock %}
